<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

   <h:head>
   		<title>Bebida</title>
   </h:head>
   
   
   <h:body>
   	
   	<h:form>
   		<div>
   			<h:outputLabel value="Data" for = "Data"/>
   			<h:inputText id="data" 
   				value="#{bebidaBean.bebida.dataValidade.time}">
   				<f:convertDateTime pattern="dd/MM/yyyy"/>
   			</h:inputText>
   		</div>
   	</h:form>
   
   </h:body>
   
</html>