<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>Olá mundo !</title>
</h:head>
<h:body>
	<h1>Olá Mundo !</h1>
	<h:form>
		<h:inputText value="#{indexBean.nome}" />
		<h:commandButton action="#{indexBean.exibirNome}" value="OK" />
	</h:form>
</h:body>
   
   
</html>