<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>Login</title>
</h:head>

<h:body>
	<h1>Login</h1>
	<h:form>
		<h:panelGrid columns="2">
		<h:outputLabel value="Login" for="login"/>
		<h:inputText value="#{loginBean.usuario}" id="login"/>
	
		<h:outputLabel value="Senha" for="senha"/>
		<h:inputSecret value="#{loginBean.senha}" id="senha" />
		
		<h:commandButton action="#{loginBean.validarLogin()}" value="Entrar" />
		</h:panelGrid>
	</h:form>
</h:body>


</html>